.experience {
    grid-area: experience;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    @media (min-width: 768px) {
        align-items: flex-start;
    }

}